language: python
python:
  - "3.5.3"
before_install:
  - mv travis_secrets.yaml secrets.yaml
install:
  # - pip3 install homeassistant==0.64.3
  - pip3 install homeassistant
  - hass --version
script:
  - hass -c . --script check_config
